<style>
  .episode-list {
    counter-reset: start-from {{ (episodeListCounter or episodeList.length) + 1 }}
  }
</style>
<ol reversed class="episode-list">
{% for episode in episodeList | reverse %}
	<li class="episode-list__item{% if episode.url == url %} is-active{% endif %}">
		<a href="{{ episode.url }}" class="episode-list__link">
      {% if episode.data.title %}
        {{ episode.data.title }}
      {% else %}
        <code>{{ episode.url }}</code>
      {% endif %}
    </a>
		<time class="episode-list__date" datetime="{{ episode.date | htmlDateString }}">
      {{ episode.date | readableDate("LLLL yyyy") }}
      </time>
	</li>
{% endfor %}
</ol>
