<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="{{ body_class }}">
  <header class="app-header" id="top">
    <div class="app-header__content">
      <a href="/">It’s a Very Exciting Time</a>
    </div>
  </header>
  <main class="app-main {{ main_class }}">
    {{ content | safe }}
  </main>
  <footer class="app-footer">
    <div class="app-footer__content">
      <p>By Scott Vandehey and Chuck Lauer Vose</p>
    </div>
  </footer>
</body>
</html>
