
<ul class="subscribe">
  <li class="subscribe__item">
    <a
      class="subscribe__link"
      _target="blank"
      rel="noreferrer noopener"
      href="https://podcasts.apple.com/us/podcast/its-a-very-exciting-time/id1652237240">
      Listen on <strong>Apple Podcasts</strong>
    </a>
  </li>
  <li class="subscribe__item">
    <a
      class="subscribe__link"
      _target="blank"
      rel="noreferrer noopener"
      href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9iOTJkNmVhMC9wb2RjYXN0L3Jzcw">
      Listen on <strong>Google Podcasts</strong>
    </a>
  </li>
  <li class="subscribe__item">
    <a
      class="subscribe__link"
      _target="blank"
      rel="noreferrer noopener"
      href="https://open.spotify.com/show/5KQ9ApvfXXCJH0zRYxbgTc">
      Listen on <strong>Spotify</strong>
    </a>
  </li>
  <li class="subscribe__item">
    <a
      class="subscribe__link"
      _target="blank"
      rel="noreferrer noopener"
      href="https://www.youtube.com/@VeryExcitingTime">
      Listen on <strong>YouTube</strong>
    </a>
  </li>
</ul>
