<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg" color="#000000">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <meta property='og:site_name' content='{{ metadata.title }}' />
  <meta property='og:locale' content='en_US' />
  <meta property='og:type' content='{{ metaType or 'website' }}' />
  <meta property='og:url' content='https://veryexcitingtime.com{{ page.url }}' />
  <meta property='og:title' content='{{ title or metadata.title }}' />
  <meta property='og:description' content='{{ description or metadata.description }}' />
  <meta name='description' content='{{ description or metadata.description }}' />
  <meta property='twitter:card' content='summary_large_image' />
  <meta property='og:image' content='https://veryexcitingtime.com/images/cover-social.jpg' />
  <meta property='og:image:secure_url' content='https://veryexcitingtime.com/images/cover-social.jpg' />
  <meta property='twitter:image' content='https://veryexcitingtime.com/images/cover-social.jpg' />
  <meta property='og:image:width' content='1600' />
  <meta property='og:image:height' content='900' />
</head>
<body class="{{ body_class }}">
  <header class="app-header">
    <div class="app-header__content">
      <a href="/" class="app-header__logo">{{ metadata.title }}</a>
      <p class="app-header__tagline">{{ metadata.tagline }}</p>
      <nav class="app-header__nav">
        <ul class="app-header__nav-list">
          {%- for entry in collections.nav %}
            <li class="app-header__nav-item">
              <a
                href="{{ entry.url }}"
                class="app-header__nav-link"
                {% if entry.url == page.url %} aria-current="page"{% endif %}>
                {{ entry.data.title }}
              </a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <main class="app-main {{ main_class }}">
    {{ content | safe }}
  </main>
  <footer class="app-footer">
    <div class="app-footer__content">
      <p class="app-footer__copyright">© {% year %} {{ metadata.author.name }}</p>
    </div>
  </footer>
</body>
</html>
