---
layout: layouts/base.njk
metaType: article
---
<h1>{{ title }}</h1>
<ul class="episode-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList | sort %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="episode-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{% if embedUrl %}
<iframe
  src="https://podcasters.spotify.com/pod/show/very-exciting-time/embed/episodes/{{ embedUrl }}"
  height="100px"
  width="400px"
  frameborder="0"
  scrolling="no"
></iframe>
{% endif %}

<ul>
  <li><a _target="blank" rel="noreferrer noopener" href="https://podcasts.apple.com/us/podcast/its-a-very-exciting-time/id1652237240">Listen on Apple Podcasts</a></li>
  <li><a _target="blank" rel="noreferrer noopener" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9iOTJkNmVhMC9wb2RjYXN0L3Jzcw">Listen on Google Podcasts</a></li>
  <li><a _target="blank" rel="noreferrer noopener" href="https://open.spotify.com/show/5KQ9ApvfXXCJH0zRYxbgTc">Listen on Spotify</a></li>
  <li><a _target="blank" rel="noreferrer noopener" href="https://www.youtube.com/@VeryExcitingTime">Listen on YouTube</a></li>
</ul>

{{ content | safe }}

{%- if collections.episodes %}
  {%- set previousEpisode = collections.episodes | getPreviousCollectionItem %}
  {%- set nextEpisode = collections.episodes | getNextCollectionItem %}
  {%- if nextEpisode or previousEpisode %}
    <ul class="links-nextprev">
      {%- if previousEpisode %}
        <li>
          Previous: <a href="{{ previousEpisode.url }}">{{ previousEpisode.data.title }}</a>
        </li>
      {% endif %}
      {%- if nextEpisode %}
        <li>
          Next: <a href="{{ nextEpisode.url }}">{{ nextEpisode.data.title }}</a>
        </li>
      {% endif %}
    </ul>
  {%- endif %}
{%- endif %}
