/* Posts list */
.episode-list {
  list-style: none;
  padding: 0;
}

.profile {
  align-items: center;
  display: flex;
  gap: var(--size-l);
  margin-block: var(--size-xxl);
}

.profile__photo {
  align-self: flex-start;
  flex: none;
}

.profile__photo-media {
  border: 2px solid currentcolor;
  border-radius: 50%;
}

.profile__bio {
  flex: 1;

  h2 {
    margin-bottom: 0.25em;
  }

  p {
    margin-block: 0.5em;
  }
}
