@use 'breakpoints';

// About Page Profiles
.profile {
  margin-block: var(--size-xxl);

  @media screen and (min-width: #{breakpoints.$breakpoint-s}) {
    align-items: center;
    display: flex;
    gap: var(--size-l);
  }
}

.profile__photo {
  align-self: flex-start;
  flex: none;
}

.profile__photo-media {
  border: 2px solid currentcolor;
  border-radius: 50%;
}

.profile__bio {
  flex: 1;

  h2 {
    margin-bottom: 0.25em;
  }

  p {
    margin-block: 0.5em;
  }
}

// Topics Page
.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag-cloud__item {
  font-size: calc(0.75em + (var(--font-adjust) * 0.075em));
}

.tag-cloud__count {
  color: var(--color-page-fg-subtle);
  font-size: smaller;
}

// Subscribe Page
.subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xs);
  list-style: none;
  margin: 2em 0;
  padding: 0;

  @media screen and (min-width: #{breakpoints.$breakpoint-s}) {
    gap: var(--size-m);
  }

  @media screen and (min-width: #{breakpoints.$breakpoint-m}) {
    gap: var(--size-l);
  }
}

.subscribe__item {
  flex: 1;
}

.subscribe__link {
  border: var(--border-thin) solid var(--color-page-fg-subtle);
  border-radius: 0.5em;
  display: block;
  font-size: smaller;
  height: 100%;
  padding: var(--size-xs) var(--size-s);
  text-decoration: none;

  strong {
    display: block;
    font-size: larger;
  }

  &:hover,
  &:focus {
    background: var(--color-main-highlight);
  }
}
