---
layout: layouts/base.njk
numberOfLatestEpisodesToShow: 3
---
<h1>{{ metadata.tagline }}</h1>

<p class="intro">
  Because if UFOs are real… what else?
  If <em>any</em> of this turns out to be true,
  it’s a very&nbsp;exciting&nbsp;time!
</p>

{% set episodesCount = collections.episodes | length %}
{% set latestEpisodesCount = episodesCount | min(numberOfLatestEpisodesToShow) %}
<h2>
  Latest {{ latestEpisodesCount }}
  Episode{% if latestEpisodesCount != 1 %}s{% endif %}
</h2>

{% set episodeList = collections.episodes | head(-1 * numberOfLatestEpisodesToShow) %}
{% set episodeListCounter = episodesCount %}
{% include "episode-list.njk" %}

{% set moreEpisodes = episodesCount - numberOfLatestEpisodesToShow %}
{% if moreEpisodes > 0 %}
<p>
  More episodes can be found in <a href="/archive/">the archive</a>.
</p>
{% endif %}
