---
layout: layouts/base.njk
date: 2022-10-01
teaseCount: 5
eleventyImport:
    collections: ["episodes"]
---
<h1>{{ metadata.tagline }}</h1>

<p class="intro">
  Because if UFOs are real… what else?
  If <em>any</em> of this turns out to be true,
  it’s a very&nbsp;exciting&nbsp;time!
</p>

{% set episodeList = collections.episodes | reverse | head(teaseCount, 1) %}
{% set latestEpisode = collections.episodes | last %}
{% set totalCount = collections.episodes | length %}
{% set previousCount = totalCount | min(teaseCount) %}
{% set moreCount = totalCount - teaseCount - 1 %}

{% if latestEpisode.data.embedUrl %}
  <iframe
    class="spotify-embed"
    src="https://podcasters.spotify.com/pod/show/very-exciting-time/embed/episodes/{{ latestEpisode.data.embedUrl }}"
    height="100px"
    width="400px"
    frameborder="0"
    scrolling="no"
  ></iframe>
{% endif %}

{% include "subscribe.njk" %}

<h2>Most Recent Episode</h2>
{% include "latest-episode.njk" %}

<h2>Previous {{ previousCount }} Episodes</h2>
{% include "episode-list.njk" %}

{% if moreCount > 0 %}
  <p>
    More episodes can be found in <a href="/archive/">the archive</a>.
  </p>
{% endif %}
