---
layout: layouts/base.njk
numberOfLatestEpisodesToShow: 3
---
<p>{{ metadata.description }}</p>

{% set episodesCount = collections.episodes | length %}
{% set latestEpisodesCount = episodesCount | min(numberOfLatestEpisodesToShow) %}
<h2>
  Latest {{ latestEpisodesCount }}
  Episode{% if latestEpisodesCount != 1 %}s{% endif %}
</h2>

{% set episodeList = collections.episodes | head(-1 * numberOfLatestEpisodesToShow) %}
{% set episodeListCounter = episodesCount %}
{% include "episode-list.njk" %}

{% set moreEpisodes = episodesCount - numberOfLatestEpisodesToShow %}
{% if moreEpisodes > 0 %}
<p>
  {{ moreEpisodes }} more episode{% if moreEpisodes != 1 %}s{% endif %}
  can be found in <a href="/archive/">the archive</a>.
</p>
{% endif %}
