---
permalink: /tags/
layout: layouts/page.njk
title: Tags
tags:
  - nav
---
<ul>
{% for tag in collections.episodes | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li>
    <a href="{{ tagUrl }}" class="episode-tag">{{ tag }}</a>
    ({{ collections[tag].length }})
  </li>
{% endfor %}
</ul>
