---
permalink: /tags/
layout: layouts/base.njk
title: Tags
tags:
  - nav
---
<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li>
    <a href="{{ tagUrl }}" class="episode-tag">{{ tag }}</a>
  </li>
{% endfor %}
</ul>
