---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - episodes
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: Episodes tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
{% set episodeList = collections[ tag ] %}
{% include "episode-list.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
