---
permalink: /tags/
layout: layouts/page.njk
title: Topics
tags:
  - nav
---
<ul class="tag-cloud">
{% for tag in collections.episodes | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li class="tag-cloud__item" style="--font-adjust: {{ collections[tag].length }}">
    <a href="{{ tagUrl }}" class="tag-cloud__link">{{ tag }}</a>
    <span class="tag-cloud__count">({{ collections[tag].length }})</span>
  </li>
{% endfor %}
</ul>
